@model BikesTest.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>Customer @Html.DisplayFor(model => model.id)</h4>
    <hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.user.firstName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.user.firstName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.user.lastName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.user.lastName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.user.username)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.user.username)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.user.email)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.user.email)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.user.birthday)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.user.birthday)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.isCurrentlyBiking)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.isCurrentlyBiking)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.timeBiked)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.timeBiked)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.numberOfBikesRented)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.numberOfBikesRented)
		</dd>
	</dl>
</div>
<div style="width:100%">

	<a asp-action="Edit" asp-route-id="@Model.id">Edit</a> <content>|</content>
	<a asp-action="ChangePassword" asp-route-id="@Model.id">Change Password</a> <content>|</content>
	@if (User.IsInRole("Customer"))
	{
		<a asp-controller="Home" asp-action="Index">Back to Home</a>
	}
	else
	{
		<a asp-action="Index">Back to List</a>
	}
</div>
